* {
    box-sizing: border-box;
    font-family: Arial;
}
.header {
    height: 250px;
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.name {
    font-size: 80px;
    margin: auto;
}

nav {
    width: 100%;
    background-color: darkgray;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}

li {
    width: 100px;
    padding: 10px;
    border: 2px solid #13293d;
}
#profile {
    height: 400px;
    width: 284px;
    border: 2px solid black;
}


   

  
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
}
  
.card {
    margin: 5px;
    padding: 1px;
    width: 31%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
  
.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}
  
.card img {
    width: 100%;
} 



