* {
    box-sizing: border-box;
    font-family: Arial;
}
.header {
    height: 400px;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.name {
    font-size: 80px;
}

#profile {
    height: 400px;
    width: 284px;
    border: 2px solid black;
}


   
body {
    margin: 0;
}
  
.projects {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
}
  
.card {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
  
.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}
  
.card img {
    width: 100%;
} 



